body {
	background-color: #EEE;
	overflow-y: scroll;	
}
body.show-discus #disqus_thread {
	top: 0%;
}
body.show-discus #toggle_discus {
	color:#ffe;
	background-color:#0a0;
}
.main {

}

.left-col {
	width: 70%;
	float: left;
}

.right-col {
	width: 30%;
	float: right;
}

.map {
	height: 600px;
	margin-top: 3px;
	margin-left:3px;
	display: block;
}

#accordion {
	width: 98%;
	float: right;
	font-size: 12px;
	margin: 0px 1%;
}

#accordion a {
	line-height: 20px;
	padding: 3px;
}

#accordion a.selected {
	background: #0A0;
	color: white;
	text-decoration: none;
}

#accordion .margin-bottom {
	margin-bottom: 5px;
}

#accordion .margin-left {
	margin-left: 20px;
}

#templates {
	display :none;
}

#disqus_thread {
	position: absolute;
	top: 100%;
	left: 0px;
	padding: 1%;
	width: 68%;
	height: 98%;
	background-color: #EEE;
	
	transition:top 1s;
	-webkit-transition:top 1s;
	-o-transition:top 1s;
	-moz-transition:top 1s;
}

#toggle_discus {
	position: absolute;
	right: 30%;
	bottom: 0%;
	width: 100px;
	z-index: 1;
	border: 1px solid #999;
	border-radius: 3px;
	background-color: #FFE;
	cursor: pointer;
}
