body {
	background-color: #EEE;	
}

.main {

}

.left-col {
	width: 70%;
	float: left;
}

.right-col {
	width: 29%;
	float: right;
}

.map {
	height: 600px;
	margin-top: 3px;
	margin-left:3px;
	display: block;
}

#accordion {
	width: 100%;
	float: right;
	font-size: 12px;
	margin-right: 3px;
}

#accordion a {
	line-height: 20px;
	padding: 3px;
}

#accordion a.selected {
	background: #0A0;
	color: white;
	text-decoration: none;
}

#accordion .margin-bottom {
	margin-bottom: 5px;
}

#accordion .margin-left {
	margin-left: 20px;
}

#templates {
	display :none;
}
