<!doctype html>
<html ng-app>
	<head>
		<title>Zloch.in.ua</title>
		
		<link rel="styylesheet" href="../static/css/style.css" />
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
		
		<script type="text/javascript" src="../static/js/script.js" ></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js" ></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
		
		<script src="http://maps.google.com/maps/api/js?sensor=false&language=uk" type="text/javascript"></script>
		
		<script type="text/javascript" src="../static/js/parser.js"></script>
		
		<script type="text/javascript">
			function loadList(data) {
				parser.parse(data);
			}
			
			$(function() {
				var map = null,
					layer = null;
				
				// Retrieve categories list
				$.getScript('https://spreadsheets.google.com/feeds/list/0As9SVzApMBjodHNIVTRTM09nUFFtZzV5aXhDQzZTbnc/od6/public/values?alt=json-in-script&callback=loadList');
				
				$('#accordion').accordion();
				
				parser.init();
				
				(function initMap() {
					map = new google.maps.Map(document.getElementById('map'), {
						center: new google.maps.LatLng(46.918844877014486, 30.76445803124999),
						zoom: 6,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					});

					layer = new google.maps.FusionTablesLayer({
						map: map,
						heatmap: { enabled: false },
						query: {
							select: "col3\x3e\x3e1",
							from: "1w0ufexIfgcSjm21d9EM2qICIa6jsyRM4ihHPE6o",
							where: ""
						},
						options: {
							styleId: 2,
							templateId: 1
						}
					});
				})();
			});
		</script>
		
		<style>
			.main {

			}

			.left-col {
				width: 70%;
				float: left;
				border: solid 1px red;
			}

			.right-col {
				width: 29%;
				float: right;
				border: solid 1px red;
			}

			.map {
				height: 500px;
				display: block;
			}

			.categories {
				height: 500px;
				display: block;
			}
			#accordion {
				width: 100%;
				float: right;
				font-size: 12px;
			}
		</style>

    </head>
	<body>
		<div class="main">
			<div class="left-col">
				<div class="map" id="map"></div>
			</div>
			<div class="right-col">
				<div id="accordion">
					
				</div>
			</div>
		</div>
		
		<div id="templates"></div>
	</body>
	</html>
