<!doctype html>
<html ng-app>
	<head>
		<title>Zloch.in.ua</title>
		
		<link rel="styylesheet" href="../static/css/style.css" />
		<link rel="styylesheet" href="http://code.jquery.com/ui/1.10.2/themes/sunny/jquery-ui.css" />
		
		<!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script-->
		<script type="text/javascript" src="../static/js/script.js" ></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js" ></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
		
		<script type="text/javascript">
			$(function() {
				$("#categories input[type=radio]").change(function(){
					var url = $("#categories input[type=radio]:checked").attr("url");
						request = "/site?url=" + url;
					$("#map").load(request);
				});
				
				$("#categories input[type=radio]:first").change();
			});
		</script>
		
		<style>
			.main {
				
			}
			
			.left-col {
				width: 800px;
				float: left;
				border: solid 1px red;
				margin: 10px 5px 0 10px;
			}
			
			.right-col {
				width: 400px;
				float: left;
				border: solid 1px red;
				margin: 10px 10px 0 5px;
			}
			
			.map {
				height: 500px;
				display: block;
			}
			
			.categories {
				height: 500px;
				display: block;
			}
		</style>
    </head>
	<body>
		<!--div>
			<label>Name:</label>
			<input type="text" ng-model="yourName" placeholder="Enter a name here">
			<hr>
			<h1>Hello {{yourName}}!</h1>
		</div-->
		
		<div class="main">
			<div class="left-col">
				<div class="map" id="map"></div>
			</div>
			<div class="right-col">
				<div class="categories">
					<div id="categories">
						<input url="http://google.com.ua" type="radio" id="category-1" name="category" checked="checked" />
						<label for="category-1">Google</label>
						<br />
						
						<input url="http://eway.in.ua" type="radio" id="category-2" name="category" />
						<label for="category-2">Eway</label>
						<br />
						
						<input url="http://yahoo.com" type="radio" id="category-3" name="category" />
						<label for="category-3">Yahoo</label>
						<br />
					</div>
					<hr />
					<div class="TODO">
						
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
