<!doctype html>
<html ng-app>
	<head>
		<title>Zloch.in.ua</title>
		
		<link rel="styylesheet" href="../static/css/style.css" />
		<link rel="styylesheet" href="http://code.jquery.com/ui/1.10.2/themes/sunny/jquery-ui.css" />
		
		<script type="text/javascript" src="../static/js/script.js" ></script>
		<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js" ></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js" ></script>
		
		<script src="http://maps.google.com/maps/api/js?sensor=false&language=uk" type="text/javascript"></script>
		
		<script type="text/javascript" src="../static/js/parser.js"></script>
		
		<script type="text/javascript">
			var menuItems = {
				"Зареєстровані злочини": {
					"усього": {
						"торік": {
							styleID: 1,
							templID: 1,
							colName: "col1\x3e\x3e1"
						},
						"поточний рік": {
							styleID: 1,
							templID: 1,
							colName: "col2\x3e\x3e1"
						},
						"динаміка, %": {
							styleID: 1,
							templID: 1,
							colName: "col3\x3e\x3e1"
						}
					},
					"тяжких та особливо тяжких": {
						"торік": {
							styleID: 1,
							templID: 1,
							colName: "col1\x3e\x3e1"
						},
						"поточний рік": {
							styleID: 1,
							templID: 1,
							colName: "col2\x3e\x3e1"
						},
						"динаміка, %": {
							styleID: 1,
							templID: 1,
							colName: "col3\x3e\x3e1"
						}
					}
				}
			};
			
			function loadList(data) {
				parser.parse(data)
			}
			
			$(function() {
				var map = null,
					layer = null;
				
				// Retrieve categories list
				$.getScript('https://spreadsheets.google.com/feeds/list/0As9SVzApMBjodHNIVTRTM09nUFFtZzV5aXhDQzZTbnc/od6/public/values?alt=json-in-script&callback=loadList');
				
				$("#categories input[type=radio]").change(function(){
					//var url = $("#categories input[type=radio]:checked").attr("url");
					initMap();
				});
				
				function initMap() {
					map = new google.maps.Map(document.getElementById('map'), {
						center: new google.maps.LatLng(46.918844877014486, 30.76445803124999),
						zoom: 6,
						mapTypeId: google.maps.MapTypeId.ROADMAP
					});

					layer = new google.maps.FusionTablesLayer({
						map: map,
						heatmap: { enabled: false },
						query: {
							select: "col2\x3e\x3e1",
							from: "1w0ufexIfgcSjm21d9EM2qICIa6jsyRM4ihHPE6o",
							where: ""
						},
						options: {
							styleId: 2,
							templateId: 1
						}/*,
						styles: [{
								polygonOptions: {
									fillColor: '#FF0000',
									fillOpacity: 0.1,
									strokeColor: '#0000FF',
									strokeOpacity: 0.1,
									strokeWeight: 1.0
								}
							}
						]*/
					});
				}
				
				$("#categories input[type=radio]:first").change();
			});
		</script>
		
		<style>
			.main {
				
			}
			
			.left-col {
				width: 800px;
				float: left;
				border: solid 1px red;
				margin: 10px 5px 0 10px;
			}
			
			.right-col {
				width: 400px;
				float: left;
				border: solid 1px red;
				margin: 10px 10px 0 5px;
			}
			
			.map {
				height: 500px;
				display: block;
			}
			
			.categories {
				height: 500px;
				display: block;
			}
		</style>
    </head>
	<body>
		<div class="main">
			<div class="left-col">
				<div class="map" id="map"></div>
			</div>
			<div class="right-col">
				<div class="categories">
					<div id="categories">
						<input type="radio" id="category-1" name="category" checked="checked" />
						<label for="category-1">Google</label>
						<br />
						
						<input type="radio" id="category-2" name="category" />
						<label for="category-2">Eway</label>
						<br />
						
						<input type="radio" id="category-3" name="category" />
						<label for="category-3">Yahoo</label>
						<br />
					</div>
					<hr />
					<div class="TODO">
						
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
